:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;
  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;
  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;
  --br: 1rem;
  --spacer: 1rem;
  --max-cont-width: 800px;
  --body-margin: 0.5rem;
}
@media screen and (width > 1000px) {
  :root {
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
    --body-margin: 1.5rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: var(--body-margin);
}

h1,
h2,
h3,
h4,
p,
dl,
dd,
dt {
  margin: 0;
  font-weight: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
}

input,
textarea,
button {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--local-br, var(--br));
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/* Basic layout */
body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
}

.primary-header {
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25rem;
  border-radius: var(--br);
}
.primary-header__inner {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  padding-inline: 2rem;
}
.primary-nav__list {
  display: flex;
  gap: var(--spacer);
}
.primary-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 0.75rem;
  padding-inline: 1rem;
}
.primary-footer__inner > * {
  flex-basis: 100%;
}
.primary-footer__inner-links {
  display: flex;
  justify-content: space-around;
}
.primary-footer__inner-links dd {
  font-weight: var(--fw-700);
}

.page-title {
  font-size: var(--fs-900);
  line-height: 1.1;
}
.page-intro {
  font-size: var(--fs-600);
}

section {
  padding-block: 3rem;
}

.section-title {
  font-weight: var(--fw-200);
}
.section-title, .section-subtitle {
  font-size: var(--fs-600);
}

article {
  max-width: 640px;
}

.article-preview h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-300);
}
.article-preview p {
  font-family: var(--ff-sans);
  font-weight: var(--fw-300);
}
.article-info {
  display: flex;
  gap: var(--spacer);
  color: var(--clr-neutral-400);
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  font-family: var(--ff-sans);
}

/* Components */
.btn {
  display: inline-block;
  cursor: pointer;
  border: unset;
  background-color: inherit;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  font-weight: var(--fw-700);
  border-radius: 0.75rem;
  transition: background-color 200ms ease-in;
}
.btn::after {
  content: ">";
  margin-left: 1rem;
}
.btn:hover, .btn:focus-visible {
  background-color: var(--clr-primary-400);
}

/* Utility */
.container {
  max-width: var(--max-cont-width);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.flow-large {
  --flow-space: 3rem;
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.text-sans {
  font-family: var(--ff-sans);
}
.text-serif {
  font-family: var(--ff-serif);
}

.split {
  display: flex;
  flex-direction: column;
  gap: var(--split-spacer, var(--spacer));
}
@media (width >= 700px) {
  .split {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--split-spacer, var(--spacer));
  }
  .split > * {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */